<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-icon name="walk" size="large"></ion-icon>

    <h1>Are you going out?</h1>
    <p>Press the circle above and remember the social distance!</p>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Pro tip</ion-card-title>
        <ion-card-subtitle>extra bonus if you keep tracking function on for th next 24 hours</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-button class="ion-activatable ripple-parent" shape="round" fill="outline">Yes, track my next 24h!
          <ion-ripple-effect></ion-ripple-effect>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>